<div class="landing-page-banner">
  <div class="maintext">
    <div> {{ 'DEO.Home.HeroTitle1' | translate }} </div>
    <div> {{ 'DEO.Home.HeroTitle2' | translate }} </div>
    <button class="deopto-button" (click)="navigateBuyDeopto()">
      {{ 'DEO.Home.BuyButton' | translate }}
    </button>
    <a href="https://bscscan.com/token/0xF918C5f9fcee3FFE7C27612e76eB2d27AA357e90" target="_blank">
      {{ 'DEO.Home.ViewBscScan' | translate }}
    </a>
  </div>
</div>

<app-strip-power></app-strip-power>
<app-strip-innovation></app-strip-innovation>
<app-strip-tokenomics></app-strip-tokenomics>
<app-strip-launch></app-strip-launch>
<app-strip-team></app-strip-team>