@import "src/variables.scss";

.landing-page-banner {
  width: 100%;
  height: max(100vh, 62rem);
  background-image: url('/assets/global/home-background.svg');
  background-color: $landing-hero-background;
  background-position-x: center;
  background-position-y: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media only screen and (max-width: $mobile-breakpoint) {
    justify-content: end;
    background-attachment: local;
    height: 46rem;
    background-position-x: 57%;
  }
}

.maintext {
  color: $strip-background-light;

  margin-left: 18vw;
  max-width: 25rem;
  margin-top: $header-height + 2*$header-padding + 2rem;

  @media only screen and (max-width: $mobile-breakpoint) {
    width: 70vw;
    margin-right: 2rem;
    margin-top: $header-height + 2*$header-padding + 1.5rem;
  }

  &>div {
    @media only screen and (max-width: $mobile-breakpoint) {
      font-size: 1.8em;
    }

    font-size: 2.5em;
    font-family: 'Suez One',
    sans-serif;
    text-align: left;
    margin: 0.75rem 0rem;

    text-shadow: 2px 2px 5px rgba(black, 0.6),
    2px -2px 5px rgba(black, 0.6),
    -2px 2px 5px rgba(black, 0.6),
    -2px -2px 5px rgba(black, 0.6);
  }

  &>button {
    width: 100%;

    &:hover {
      background-color: $logo-purple;
      color: $strip-background-light;
    }
  }

  &>a {
    margin-top: 1rem;
    display: block;
    text-align: center;
    color: $strip-background-light;
  }
}