@import "src/variables.scss";

.landing-page-banner {
  width: 100%;
  height: max(100vh, 62rem);
  background-image: url('/assets/global/home-background.svg');
  background-color: $landing-hero-background;
  background-position-x: center;
  background-position-y: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maintext{
  padding-bottom: 20rem;
  padding-left: 30rem;
  text-align: left;
  color: white;
  font-size: 3em;
  font-family: 'Suez One', sans-serif;
  letter-spacing: 2px;
  font-weight: 1000;
  margin: 1.75rem 0;
  max-width: 35rem;
}
