<div class="strip-y-divided">
  <div class="strip-title">{{ "DEO.Home.TokenomicsTitle" | translate }}</div>
  <div class="strip-subtitle">{{ "DEO.Home.TokenomicsSubtitle" | translate }}</div>
  <div class="cards-wrapper">
    <div class="card">
      <div class="card-title card-title-bg-1">{{ "DEO.Home.TokenomicsReflections" | translate:{ percent : reflectionPercent } }} </div>
      <div class="card-desc">{{ "DEO.Home.TokenomicsReflectionsDesc" | translate:{ percent : reflectionPercent } }} </div>
    </div>
    <div class="card">
      <div class="card-title card-title-bg-2">{{ "DEO.Home.TokenomicsPollFunding" | translate:{ percent : pollFundingPercent } }} </div>
      <div class="card-desc">{{ "DEO.Home.TokenomicsPollFundingDesc" | translate:{ percent : pollFundingPercent } }} </div>
    </div>
    <div class="card">
      <div class="card-title card-title-bg-3">{{ "DEO.Home.TokenomicsLiquidity" | translate:{ percent : liquidityAcqPercent } }} </div>
      <div class="card-desc">{{ "DEO.Home.TokenomicsLiquidityDesc" | translate:{ percent : liquidityAcqPercent } }} </div>
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1672693442">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
    </svg>
  </div>
</div>