@import "src/variables.scss";

.strip-title {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Suez One', sans-serif;
  font-weight: 1000;
  margin: 1.75rem 0;
}

.strip-subtitle {
  font-size: 1.2em;
  line-height: 1.4;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: stretch;
  flex-wrap: wrap;
}

.card {
  width: min(27rem, 100%);
  padding: 0rem 3rem;
  display: flex;
  flex-direction: column;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
  font-size: 2.2em;
  font-family: 'Suez One', sans-serif;
  font-weight: 1000;
  text-shadow:
    $strip-background-light 3px 3px 7px,
    $strip-background-light 3px -3px 7px,
    $strip-background-light -3px 3px 7px,
    $strip-background-light -3px -3px 7px;

  height: 12rem;
}

.card-title-bg-1 {
  background: url('/assets/home/splash-pink.webp');
  background-size: 100% 100%;
}

.card-title-bg-2 {
  background: url('/assets/home/splash-pink-teal.webp');
  background-size: 100% 100%;
}

.card-title-bg-3 {
  background: url('/assets/home/splash-teal.webp');
  background-size: 100% 100%;
}

.card-desc {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.4;
}

.custom-shape-divider-bottom-1672693442 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  & svg {
    position: relative;
    display: block;
    width: calc(190% + 1.3px);
    height: $divider-height;
  }

  & .shape-fill {
    fill: $strip-background-light;
  }
}