<div class="strip-x-divided">
  <div class="card-text-wrapper">
    <div class="card-title">{{ "DEO.Whitepaper.Title" | translate }}</div>
    <div class="card-desc-highlight">{{ "DEO.Whitepaper.Subtitle" | translate }}</div>
    <div class="card-desc">{{ "DEO.Whitepaper.TitleDesc" | translate }}</div>
  </div>
  <div class="custom-shape-divider-bottom-1672693190">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
        class="shape-fill"></path>
    </svg>
  </div>
</div>

<div class="strip-x-divided">
  <div class="card-text-wrapper">
    <div class="card-title">{{ "DEO.Whitepaper.VotingTitle" | translate }}</div>
    <div class="card-desc">{{ "DEO.Whitepaper.VotingDesc" | translate }}</div>
    <div class="card-desc">{{ "DEO.Whitepaper.VotingDesc1" | translate }}</div>
    <div class="card-desc">{{ "DEO.Whitepaper.VotingDesc2" | translate }}</div>
  </div>
  <div class="custom-shape-divider-bottom-1672690925">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"></path>
    </svg>
  </div>
</div>

<div class="strip-x-divided">
  <div class="card-text-wrapper">
    <div class="card-title">{{ "DEO.Whitepaper.ReflectionTitle" | translate }}</div>
    <div class="card-desc">{{ "DEO.Whitepaper.ReflectionDesc" | translate }}</div>
    <div class="card-desc">{{ "DEO.Whitepaper.ReflectionDesc1" | translate }}</div>
    <div class="card-desc bulletpoint">{{ "DEO.Whitepaper.ReflectionDesc2" | translate }}</div>
    <div class="card-desc bulletpoint">{{ "DEO.Whitepaper.ReflectionDesc3" | translate }}</div>
    <div class="card-desc bulletpoint">{{ "DEO.Whitepaper.ReflectionDesc4" | translate }}</div>
    <div class="card-desc bulletpoint">{{ "DEO.Whitepaper.ReflectionDesc5" | translate }}</div>
  </div>
  <div class="custom-shape-divider-bottom-1672693442">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
        class="shape-fill"></path>
    </svg>
  </div>
</div>

<div class="strip-y">
  <div class="card-text-wrapper">
    <div class="card-title">{{ "DEO.Whitepaper.AcquisitionTitle" | translate }}</div>
    <div class="card-desc">{{ "DEO.Whitepaper.AcquisitionDesc" | translate }}</div>
    <div class="card-desc">{{ "DEO.Whitepaper.AcquisitionDesc1" | translate }}</div>
    <div class="card-desc">{{ "DEO.Whitepaper.AcquisitionDesc2" | translate }}</div>
    <div class="card-desc">{{ "DEO.Whitepaper.AcquisitionDesc3" | translate }}</div>
    <div class="card-desc bulletpoint">{{ "DEO.Whitepaper.AcquisitionDesc4" | translate }}</div>
    <div class="card-desc bulletpoint">{{ "DEO.Whitepaper.AcquisitionDesc5" | translate }}</div>
    <button class="deopto-button-sm button-download-whitepaper">{{ "DEO.Whitepaper.DownloadWhitepaper" | translate }}</button>
  </div>
</div>

