<div class="strip-y-divided">
  <div class="strip-title">{{ "DEO.Whitepaper.MainTitle" | translate }}</div>
  <div class="strip-subtitle highlight-text">{{ "DEO.Whitepaper.MainSubtitle" | translate }}</div>
  <div class="strip-text">{{ "DEO.Whitepaper.MainDesc" | translate }}</div>

  <span class="custom-shape-divider-bottom-1672693190">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
    </svg>
  </span>
</div>

<div class="strip-y-divided">
  <div class="strip-title">{{ "DEO.Whitepaper.VotingTitle" | translate }}</div>
  <div class="strip-text">{{ "DEO.Whitepaper.VotingText1" | translate }}</div>
  <div class="strip-text">{{ "DEO.Whitepaper.VotingText2" | translate }}</div>
  <div class="strip-text">{{ "DEO.Whitepaper.VotingText3" | translate }}</div>

  <span class="custom-shape-divider-bottom-1672690925">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
  </span>
</div>

<div class="strip-y-divided">
  <div class="strip-title">{{ "DEO.Whitepaper.ReflectionTitle" | translate }}</div>
  <div class="strip-text">{{ "DEO.Whitepaper.ReflectionText1" | translate }}</div>
  <div class="strip-text">{{ "DEO.Whitepaper.ReflectionText2" | translate }}</div>

  <div class="bullet-points-wrapper">
    <div class="strip-text list-item"><span class="bulletpoint"></span>{{ "DEO.Whitepaper.ReflectionBenefits1" | translate }}</div>
    <div class="strip-text list-item"><span class="bulletpoint"></span>{{ "DEO.Whitepaper.ReflectionBenefits2" | translate }}</div>
    <div class="strip-text list-item"><span class="bulletpoint"></span>{{ "DEO.Whitepaper.ReflectionBenefits3" | translate }}</div>
    <div class="strip-text list-item"><span class="bulletpoint"></span>{{ "DEO.Whitepaper.ReflectionBenefits4" | translate }}</div>
    <div class="strip-text list-item"><span class="bulletpoint"></span>{{ "DEO.Whitepaper.ReflectionBenefits5" | translate }}</div>
  </div>

  <div class="strip-text">{{ "DEO.Whitepaper.ReflectionTextBottomNote" | translate }}</div>

  <span class="custom-shape-divider-bottom-1672693442">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
    </svg>
  </span>
</div>

<div class="strip-y">
  <div class="strip-title">{{ "DEO.Whitepaper.AcquisitionTitle" | translate }}</div>
  <div class="strip-text">{{ "DEO.Whitepaper.LpAcquisitionText1" | translate }}</div>
  <div class="strip-text">{{ "DEO.Whitepaper.LpAcquisitionText2" | translate }}</div>
  <div class="strip-text">{{ "DEO.Whitepaper.LpAcquisitionText3" | translate }}</div>

  <div class="strip-text">{{ "DEO.Whitepaper.LpAcquisitionText4" | translate }}</div>

  <div class="bullet-points-wrapper">
    <div class="strip-text list-item">
      <span class="bulletpoint"></span>{{ "DEO.Whitepaper.LpAcquisitionTokenLock1" | translate }}
      <a href="https://mudra.website/?certificate=yes&type=0&lp=0xc58528d7162d3e12716902da15454e249ff20aea" target="blank">{{ "DEO.Global.Link" | translate }}</a>
    </div>
    <div class="strip-text list-item">
      <span class="bulletpoint"></span>{{ "DEO.Whitepaper.LpAcquisitionTokenLock2" | translate }}
      <a href="https://mudra.website/?certificate=yes&type=0&lp=0x79244eda34e7634efaa2efe899be37ba6cb9f1e5" target="blank">{{ "DEO.Global.Link" | translate }}</a>
    </div>
  </div>

  <button class="deopto-button-sm download-button" (click)="downloadWhitepaper()">
    {{ "DEO.Whitepaper.DownloadWhitepaper" | translate }}
  </button>
</div>