<div class="strip-y">
  <div class="strip-title">{{ "DEO.Home.TeamTitle" | translate }}</div>
  <div class="cards-wrapper">
    <div class="card">
      <div class="profile-picture">
        <img src="assets/home/member-1.webp" alt="Member 1">
      </div>
      <div class="profile-name">
        DALLOS Ádám
      </div>
      <div class="profile-role">
        {{ "DEO.Home.RoleCoowner" | translate }}<br>
        {{ "DEO.Home.RoleProductManager" | translate }}
      </div>
      <div class="profile-links">
        <a href="https://www.linkedin.com/in/%C3%A1d%C3%A1m-dallos-344142257/" target="blank">
          <img src="assets/home/linkedin-logo.webp" alt="Linked In">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="profile-picture">
        <img src="assets/home/member-2.webp" alt="Member 2">
      </div>
      <div class="profile-name">
        TÓTH András
      </div>
      <div class="profile-role">
        {{ "DEO.Home.RoleCoowner" | translate }}<br>
        {{ "DEO.Home.RoleSoftwareEngineer" | translate }}
      </div>
      <div class="profile-links">
        <a href="https://www.linkedin.com/in/andr%C3%A1s-t%C3%B3th-86665717b/" target="blank">
          <img src="assets/home/linkedin-logo.webp" alt="Linked In">
        </a>
      </div>
    </div>
  </div>
</div>