<div class="strip-y-divided">
  <div class="strip-title">{{ "DEO.Home.LaunchTitle" | translate }}</div>
  <div class="cards-wrapper">
    <div class="card-chart">
      <div>{{ "DEO.Home.LaunchChartText" | translate }}<br>100%</div>
      <img src="assets/home/token-chart.svg" alt="Chart">
    </div>
    <div class="card-desc">
      <div class="list-item"><span class="bulletpoint"></span>{{ "DEO.Home.LaunchDesc1" | translate }} </div>
      <div class="list-item"><span class="bulletpoint"></span>{{ "DEO.Home.LaunchDesc2" | translate }} </div>
      <div class="list-item"><span class="bulletpoint"></span>{{ "DEO.Home.LaunchDesc3" | translate }} </div>
      <div class="list-item"><span class="bulletpoint"></span>{{ "DEO.Home.LaunchDesc4" | translate }} </div>
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1672781191">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
</div>