<div class="strip-y">
  <div class="page-title">{{ "DEO.HowToBuy.Title" | translate }}</div>

  <div class="howtobuy-grid">
    <div class="howtobuy-cell">
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step1Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step1Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-1.webp" alt="How to buy step 1">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step2Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step2Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-2.webp" alt="How to buy step 2">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step3Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step3Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-3.webp" alt="How to buy step 3">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step4Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step4Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-4.webp" alt="How to buy step 4">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step5Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step5Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-5.webp" alt="How to buy step 5">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step6Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step6Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-6.webp" alt="How to buy step 6">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step7Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step7Desc' | translate }} <span>(0xF918C5f9fcee3FFE7C27612e76eB2d27AA357e90)</span></div>
      <img src="assets/how-to-buy/how-to-buy-step-7.webp" alt="How to buy step 7">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step8Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step8Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-8.webp" alt="How to buy step 8">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step9Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step9Desc' | translate }} <a href="https://pancakeswap.finance/" target="blank">pancakeswap.finance</a></div>
      <img src="assets/how-to-buy/how-to-buy-step-9.webp" alt="How to buy step 9">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step10Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step10Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-10.webp" alt="How to buy step 10">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step11Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step11Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-11.webp" alt="How to buy step 11">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step12Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step12Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-12.webp" alt="How to buy step 12">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step13Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step13Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-13.webp" alt="How to buy step 13">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step14Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step14Desc' | translate }} <span>(0xF918C5f9fcee3FFE7C27612e76eB2d27AA357e90)</span></div>
      <img src="assets/how-to-buy/how-to-buy-step-14.webp" alt="How to buy step 14">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step15Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step15Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-15.webp" alt="How to buy step 15">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step16Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step16Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-16.webp" alt="How to buy step 16">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step17Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step17Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-17.webp" alt="How to buy step 17">
    </div>
    <div>
      <div class="howtobuy-cell-title">{{ 'DEO.HowToBuy.Step18Title' | translate }}</div>
      <div class="howtobuy-cell-desc">{{ 'DEO.HowToBuy.Step18Desc' | translate }}</div>
      <img src="assets/how-to-buy/how-to-buy-step-18.webp" alt="How to buy step 18">
    </div>
  </div>

  <div class="howtobuy-success">
    {{ "DEO.HowToBuy.SuccessDesc1" | translate }} <br>
    {{ "DEO.HowToBuy.SuccessDesc2" | translate }}
  </div>
</div>