.landing-page-banner {
  width: 100%;
  min-height: 50rem;
  height: 100vh;
  background: url('/assets/home-background.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
