<div class="landing-page-banner"></div>
<div class="strip-horizontal-content">
  <div class="card-text-wrapper">
    <div class="card-title">{{ "DEO.Home.PowerTitle" | translate }}</div>
    <div class="card-desc">{{ "DEO.Home.PowerDesc" | translate }}</div>
  </div>
  <div class="card-image-wrapper">
    <img class="card-image" src="assets/home/digital-brain.webp" alt="Digital brain">
  </div>
</div>
<div class="strip-horizontal-content">
  <div class="card-image-wrapper">
    <img class="card-image" src="assets/home/city.webp" alt="City">
  </div>
  <div class="card-text-wrapper">
    <div class="card-title">{{ "DEO.Home.InnovationTitle" | translate }}</div>
    <div class="card-desc-highlight">{{ "DEO.Home.InnovationDesc1" | translate }}</div>
    <div class="card-desc">{{ "DEO.Home.InnovationDesc2" | translate }}</div>
    <button class="deopto-button-sm">{{ "DEO.Home.InnovationLearnMore" | translate }}</button>
  </div>
</div>