@import "src/variables.scss";

.page-title {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Suez One', sans-serif;
  font-weight: 1000;
  margin: 1.75rem 0;
}

// -------------------
// Grid styles
// -------------------

.roadmap-grid {
  display: grid;
  grid-template-columns: 1fr 3rem 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  row-gap: 1rem;
  column-gap: 1rem;

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: 3rem 1fr;

  }
}

.timeline-divider {
  height: 100%;
  width: 100%;
  grid-column-start: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-column-start: 1;
  }

  &>.timeline-dot {
    margin-top: 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
    background-color: black;
    border-radius: 30rem;
  }

  &>.timeline-stroke {
    background-color: black;
    height: 95%;
    width: 0.25rem;
    border-radius: 30rem;
    margin-top: 1rem;
  }
}

.milestone-1 {
  grid-row-start: 1;
  grid-column-start: 1;

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-column-start: 2;
  }
}

.milestone-2 {
  grid-row-start: 2;
  grid-column-start: 3;

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-column-start: 2;
  }
}

.milestone-3 {
  grid-row-start: 3;
  grid-column-start: 1;

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-column-start: 2;
  }
}

.milestone-4 {
  grid-row-start: 4;
  grid-column-start: 3;

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-column-start: 2;
  }
}

.milestone-5 {
  grid-row-start: 5;
  grid-column-start: 1;

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-column-start: 2;
  }
}

.milestone-6 {
  grid-row-start: 6;
  grid-column-start: 3;

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-column-start: 2;
  }
}

// -------------------
// Milestone styles
// -------------------

.milestone-container {
  display: flex;
  flex-direction: column;
  width: min(27rem, 100%);
}

.subtitle {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Suez One', sans-serif;
  color: #fff;

  border-radius: 30rem;
  background-color: $logo-purple;
  margin-bottom: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.milestone-desc {
  font-size: 1.2em;
  line-height: 1.4;
  text-indent: -0.75em;

  padding-left: 1rem;
  margin: 0rem 1rem;
}