<div class="strip-title">{{ "DEO.Roadmap.RoadmapTitle" | translate }}</div>
<div class="timeline">
    <ul>
      <li>
        <span><div class="card-desc-subtitle">{{ "DEO.Roadmap.RoadmapMilestone1" | translate }}</div></span>
        <div class="content">
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc1" | translate }}</div>
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc2" | translate }}</div>
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc3" | translate }}</div>
        </div>
      </li>
      <li>
        <span><div class="card-desc-subtitle">{{ "DEO.Roadmap.RoadmapMilestone2" | translate }}</div></span>
        <div class="content">
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc4" | translate }}</div>
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc5" | translate }}</div>
        </div>
      </li>
      <li>
        <span><div class="card-desc-subtitle">{{ "DEO.Roadmap.RoadmapMilestone3" | translate }}</div></span>
        <div class="content">
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc6" | translate }}</div>
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc7" | translate }}</div>
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc8" | translate }}</div>
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc9" | translate }}</div>
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc10" | translate }}</div>
        </div>
      </li>
      <li>
        <span><div class="card-desc-subtitle">{{ "DEO.Roadmap.RoadmapMilestone4" | translate }}</div></span>
        <div class="content">
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc11" | translate }}</div>
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc12" | translate }}</div>
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc13" | translate }}</div>
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc14" | translate }}</div>
        </div>
      </li>
      <li>
        <span><div class="card-desc-subtitle">{{ "DEO.Roadmap.RoadmapMilestone5" | translate }}</div></span>
        <div class="content">
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc15" | translate }}</div>
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc16" | translate }}</div>
        </div>
      </li>
      <li>
        <span><div class="card-desc-subtitle">{{ "DEO.Roadmap.RoadmapMilestone6" | translate }}</div></span>
        <div class="content">
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc17" | translate }}</div>
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc18" | translate }}</div>
            <div class="card-desc bulletpoint">{{ "DEO.Roadmap.RoadmapDesc19" | translate }}</div>
        </div>
      </li>
    </ul>
  </div>