<div class="strip-y">
  <div class="page-title">{{ "DEO.Roadmap.RoadmapTitle" | translate }}</div>

  <div class="roadmap-grid">

    <div class="timeline-divider">
      <span class="timeline-dot"></span>
      <span class="timeline-stroke"></span>
    </div>
    <div class="timeline-divider">
      <span class="timeline-dot"></span>
      <span class="timeline-stroke"></span>
    </div>
    <div class="timeline-divider">
      <span class="timeline-dot"></span>
      <span class="timeline-stroke"></span>
    </div>
    <div class="timeline-divider">
      <span class="timeline-dot"></span>
      <span class="timeline-stroke"></span>
    </div>
    <div class="timeline-divider">
      <span class="timeline-dot"></span>
      <span class="timeline-stroke"></span>
    </div>
    <div class="timeline-divider">
      <span class="timeline-dot"></span>
      <span class="timeline-stroke"></span>
    </div>

    <div class="milestone-container milestone-1">
      <div class="subtitle">{{ "DEO.Roadmap.Milestone1Title" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone1Desc1" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone1Desc2" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone1Desc3" | translate }}</div>
    </div>

    <div class="milestone-container milestone-2">
      <div class="subtitle">{{ "DEO.Roadmap.Milestone2Title" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone2Desc1" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone2Desc2" | translate }}</div>
    </div>

    <div class="milestone-container milestone-3">
      <div class="subtitle">{{ "DEO.Roadmap.Milestone3Title" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone3Desc1" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone3Desc2" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone3Desc3" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone3Desc4" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone3Desc5" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone3Desc6" | translate }}</div>
    </div>

    <div class="milestone-container milestone-4">
      <div class="subtitle">{{ "DEO.Roadmap.Milestone4Title" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone4Desc1" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone4Desc2" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone4Desc3" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone4Desc4" | translate }}</div>
    </div>

    <div class="milestone-container milestone-5">
      <div class="subtitle">{{ "DEO.Roadmap.Milestone5Title" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone5Desc1" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone5Desc2" | translate }}</div>
    </div>

    <div class="milestone-container milestone-6">
      <div class="subtitle">{{ "DEO.Roadmap.Milestone6Title" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone6Desc1" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone6Desc2" | translate }}</div>
      <div class="milestone-desc list-item"><span class="bulletpoint"></span>{{ "DEO.Roadmap.Milestone6Desc3" | translate }}</div>
    </div>

  </div>
</div>