// ---------------------
// Header styles
// ---------------------

@import "src/variables.scss";

$header-height: 5rem;
$header-padding: 1.25rem;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  padding: $header-padding 0rem;
  z-index: 999;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;

  background-color: rgba(black, 0.7);

  &.sticky {
    padding: 0px 0px;
    background-color: white;
  }

  &.sticky .logo-text {
    color: #000;
  }

  &.sticky .menu-point {
    color: #000;

    &:hover {
      color: $primary-color;
    }
  }
}

header .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

header .logo-image {
  height: 4rem;
  width: 4rem;
  filter: drop-shadow(1px 1px 3px rgb(black, 0.7));
}

header .logo-text {
  margin: 1rem;

  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: rgba(black, 0.7) 1px 1px 3px;
  letter-spacing: 0.125em;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 0; // have to be overriden (default 40px)
}

header .menu-point {
  list-style: none;
  padding: 0.375rem 1rem;

  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
  text-shadow: rgba(black, 0.4) 0px 0px 2px;

  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  &.menu-vote {
    color: $primary-color;
    font-weight: 800;

    // background-color: white;
    border: 3px solid $primary-color;
    border-radius: 10rem;
    text-shadow: unset;
  }

  &:hover {
    color: aqua;
  }
}

.header-dummy {
  height: $header-height + 2 * $header-padding;
}