<header [ngClass]="{ 'sticky': !onTop }">
  <div class="logo-container">
    <img class="logo-image" src="assets/global/deopto-logo.svg" alt="DEOPTO">
    <span class="logo-text">DEOPTO</span>
  </div>
  <ul>
    <li class="menu-point" (click)="navigateTo('home')">Home</li>
    <li class="menu-point" (click)="navigateTo('voting-procedure')">Voting Procedure</li>
    <li class="menu-point" (click)="navigateTo('whitepaper')">Whitepaper</li>
    <li class="menu-point">Team</li>
    <li class="menu-point" (click)="navigateTo('roadmap')">Roadmap</li>
    <li class="menu-point menu-vote" (click)="navigateTo('vote')">Let's vote</li>
  </ul>
</header>


<div [@fadeShowAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
  <div *ngIf="isHeaderDummyDisplayed" class="header-dummy"></div>
  <router-outlet #outlet="outlet"></router-outlet>
</div>