<div class="strip-x-divided">
    <div class="card-text-wrapper">
        <div class="card-title">{{ "DEO.VotingProcedure.Title" | translate }}</div>
        <div class="card-subtitle">{{ "DEO.VotingProcedure.VotingProcedureDesc1" | translate }}</div>
        <div class="card-desc-highlight">{{ "DEO.VotingProcedure.VotingProcedureDesc2" | translate }}</div>
        <img class="card-image" src="assets/voting-procedure/bio-blockchain.png" alt="Bio Blockhain">
        <div class="card-desc">{{ "DEO.VotingProcedure.VotingProcedureDesc3" | translate }}</div>
        <div class="card-desc">{{ "DEO.VotingProcedure.VotingProcedureDesc4" | translate }}</div>
        <div class="card-desc bulletpoint">{{ "DEO.VotingProcedure.VotingProcedureDesc5" | translate }}</div>
        <div class="card-desc bulletpoint">{{ "DEO.VotingProcedure.VotingProcedureDesc6" | translate }}</div>
        <div class="card-desc bulletpoint">{{ "DEO.VotingProcedure.VotingProcedureDesc7" | translate }}</div>
        <div class="card-desc bulletpoint">{{ "DEO.VotingProcedure.VotingProcedureDesc8" | translate }}</div>
        <div class="card-desc bulletpoint">{{ "DEO.VotingProcedure.VotingProcedureDesc9" | translate }}</div>
        <div class="card-desc bulletpoint">{{ "DEO.VotingProcedure.VotingProcedureDesc10" | translate }}</div>
        <div class="card-desc">{{ "DEO.VotingProcedure.VotingProcedureDesc11" | translate }}</div>
    </div>
    <div class="custom-shape-divider-bottom-1672690925">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                class="shape-fill"></path>
        </svg>
    </div>
</div>

<div class="strip-y">
    <div class="card-text-wrapper">
      <div class="card-title">{{ "DEO.VotingProcedure.VotingPowerTitle" | translate }}</div>
      <div class="card-desc">{{ "DEO.VotingProcedure.VotingPowerDesc" | translate }}</div>
      <div class="card-desc-highlight">{{ "DEO.VotingProcedure.VotingPowerDesc1" | translate }}</div>
      <img class="card-image2" src="assets/voting-procedure/int-blockchain.png" alt="Int Blockchain">
      <div class="card-desc-subtitle">{{ "DEO.VotingProcedure.VotingPowerDesc2" | translate }}</div>
      <div class="card-desc">{{ "DEO.VotingProcedure.VotingPowerDesc3" | translate }}</div>
      <div class="card-desc-subtitle">{{ "DEO.VotingProcedure.VotingPowerDesc4" | translate }}</div>
      <div class="card-desc">{{ "DEO.VotingProcedure.VotingPowerDesc5" | translate }}</div>
      <img class="vpower" src="assets/voting-procedure/vpower.svg" alt="VPower">
    </div>
  </div>