<div class="strip-y-divided">
  <div class="strip-title">{{ "DEO.VotingProcedure.VotingProcedureTitle" | translate }}</div>
  <div class="strip-desc">{{ "DEO.VotingProcedure.VotingProcedureDesc1" | translate }}
    <span class="highlight-text">{{ "DEO.VotingProcedure.VotingProcedureDesc2" | translate }}</span>
  </div>

  <div class="grid-side-image">
    <div>
      <div class="strip-desc">{{ "DEO.VotingProcedure.VotingProcedureDesc3" | translate }}</div>
      <div class="strip-desc">{{ "DEO.VotingProcedure.VotingProcedureDesc4" | translate }}</div>
    </div>
    <img src="assets/voting-procedure/bio-blockchain.png" alt="Bio Blockhain">
  </div>

  <div class="bullet-points-wrapper">
    <div class="strip-desc list-item"><span class="bulletpoint"></span>{{ "DEO.VotingProcedure.VotingProcedureList1" | translate }}</div>
    <div class="strip-desc list-item"><span class="bulletpoint"></span>{{ "DEO.VotingProcedure.VotingProcedureList2" | translate }}</div>
    <div class="strip-desc list-item"><span class="bulletpoint"></span>{{ "DEO.VotingProcedure.VotingProcedureList3" | translate }}</div>
    <div class="strip-desc list-item"><span class="bulletpoint"></span>{{ "DEO.VotingProcedure.VotingProcedureList4" | translate }}</div>
    <div class="strip-desc list-item"><span class="bulletpoint"></span>{{ "DEO.VotingProcedure.VotingProcedureList5" | translate }}</div>
    <div class="strip-desc list-item"><span class="bulletpoint"></span>{{ "DEO.VotingProcedure.VotingProcedureList6" | translate }}</div>
  </div>
  <div class="strip-desc">{{ "DEO.VotingProcedure.VotingProcedureDesc5" | translate }}</div>
  <span class="custom-shape-divider-bottom-1672690925">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
  </span>
</div>

<div class="strip-y">
  <div class="strip-title">{{ "DEO.VotingProcedure.VotingPowerTitle" | translate }}</div>
  <div class="strip-desc">{{ "DEO.VotingProcedure.VotingPowerDesc" | translate }}
    <span class="highlight-text">{{ "DEO.VotingProcedure.VotingPowerDesc1" | translate }}</span>
  </div>
  <div class="grid-side-image">
    <img src="assets/voting-procedure/int-blockchain.png" alt="Int Blockchain">
    <div>
      <div class="strip-desc-subtitle">{{ "DEO.VotingProcedure.VotingPowerFloorTitle" | translate }}</div>
      <div class="strip-desc">{{ "DEO.VotingProcedure.VotingPowerFloorDesc1" | translate }}</div>
      <div class="strip-desc">{{ "DEO.VotingProcedure.VotingPowerFloorDesc2" | translate }}</div>
      <div class="strip-desc-subtitle">{{ "DEO.VotingProcedure.VotingPowerCeilingTitle" | translate }}</div>
      <div class="strip-desc">{{ "DEO.VotingProcedure.VotingPowerCeiling1" | translate }}</div>
      <div class="strip-desc">{{ "DEO.VotingProcedure.VotingPowerCeiling2" | translate }}</div>
    </div>
  </div>
  <img class="voting-power-chart" src="assets/voting-procedure/vpower.svg" alt="VPower">
</div>