@import "src/variables.scss";

.strip-y>div,
.strip-y-divided>div {
  width: min(55rem, 100%);
}

.highlight-text {
  color: $logo-purple;
}

.strip-title {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Suez One', sans-serif;
  font-weight: 1000;
  margin: 1.75rem 0;
}

.strip-desc {
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.4;
  text-indent: $paragraph-indent;
  margin: 0.75rem 0;
}

.strip-desc-subtitle {
  text-align: left;
  text-indent: $paragraph-indent;
  font-size: 1.5em;
  font-family: 'Suez One', sans-serif;
  font-weight: 1000;
  margin: 0.75rem 0;
}

.bullet-points-wrapper>.strip-desc {
  margin-left: 3rem;
  max-width: 48rem;
  text-indent: -0.75rem;
}

.grid-side-image {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 50fr));
  place-items: center;
  gap: 2rem;

  &>img {
    width: min(100%, 50vw);
  }
}

.voting-power-chart {
  margin-top: 2.5rem;
  width: min(55rem, 100%);
}

.custom-shape-divider-bottom-1672690925 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;

  & svg {
    position: relative;
    display: block;
    width: 188%;
    height: $divider-height;
    transform: rotateY(180deg) translateY(1px);
  }

  & .shape-fill {
    fill: $strip-background-light;
  }
}