.connect-button-container {
  display: flex;
  justify-content: flex-end;
}

.poll-root {
  font-family: "Bai Jamjuree";
  font-size: 22px;
}

.poll-paragraph {
  color: $primary-color;
  padding: 0.4rem 0.75rem;
  font-weight: bold;
  border: 0px;
  font-size: large;
}

.poll-container {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: stretch;
}

.poll-title {
  margin: 1rem;
  padding-bottom: 1rem;
  border: 0px;

  color: black;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

.poll-option {
  margin: 0.375rem;
  padding: 0.5rem;
  border: 0.125rem solid lightgray;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  font-size: large;
}

.poll-option-selected {
  background-image: linear-gradient(
    to right,
    rgba($color: $highlight-color, $alpha: 0.5),
    rgba($color: $highlight-color, $alpha: 0.1) 40% 60%,
    rgba($color: $highlight-color, $alpha: 0.5)
  );
}

.poll-notification-error {
  align-self: center;
  font-family: "Cascadia Code", sans-serif;
  font-size: medium;

  margin-top: 1.5rem;
  padding: 0.75rem 1rem;

  background-color: lightcoral;
  border: 1px solid transparent;
  border-radius: 1rem;
}

.poll-notification-header {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}

.poll-notification-success {
  @extend .poll-notification-error;

  background-color: lightgreen;
}

.vote-button-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

// ---------------------------
// Loading indicator styles
// ---------------------------

// Apply lds-ring class to a div, and have 4 empty divs inside to animate them

// Example:
// <div className='lds-ring'>
//   <div></div>
//   <div></div>
//   <div></div>
//   <div></div>
// </div>

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $primary-color;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $primary-color transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
