// Deopto DApp css variable

$logo-purple: #b3319b;
$primary-color: #ff25ff;
$primary-color-faded: #f0cdf0;
$highlight-color: #29b0f4;

$landing-hero-background: #232c49;
$strip-background-light: #fafafa;
$strip-background-dark: rgba(black, .11);

$divider-height: 4rem;